<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ROBOARM.STEP.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00353921364131152 0.000360785347963792 0.0248045449930136"
        rpy="0 0 0" />
      <mass
        value="1.01100951929405" />
      <inertia
        ixx="0.00501607203040726"
        ixy="2.90273259508525E-07"
        ixz="3.89359556797603E-05"
        iyy="0.00345410603323638"
        iyz="4.44881345195919E-06"
        izz="0.00809418815174451" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-0.000482730928169605 -0.000780483509740944 0.0026484505991477"
        rpy="0 0 0" />
      <mass
        value="0.346563312600784" />
      <inertia
        ixx="0.000167950716653766"
        ixy="-9.43765587701431E-07"
        ixz="2.41426862565668E-06"
        iyy="0.0002140334007025"
        iyz="-7.39282197498262E-06"
        izz="0.000194384193001903" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0.181"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.05"
      upper="3.05"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.0915317721709353 8.92173999315468E-05 0.0793258398943053"
        rpy="0 0 0" />
      <mass
        value="0.605891085764794" />
      <inertia
        ixx="0.000313253585277867"
        ixy="1.89704430467574E-06"
        ixz="-4.08386132231307E-06"
        iyy="0.000301070776230772"
        iyz="-2.6398817925064E-06"
        izz="0.00039967236324363" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="1.5708 1.5708 0" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.05"
      upper="3.05"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="-0.135207226593107 0.000275533322723343 -9.7780656696577E-05"
        rpy="0 0 0" />
      <mass
        value="0.322717798687339" />
      <inertia
        ixx="0.000148894121549767"
        ixy="-4.45319385324322E-07"
        ixz="-1.02574861343383E-05"
        iyy="0.000180226100609669"
        iyz="8.81776626293225E-07"
        izz="0.000192112751930526" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.203 0 0"
      rpy="0 0 -1.5708" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.05"
      upper="3.05"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.000285700168727143 0.00588841337146973 0.0720207800959088"
        rpy="0 0 0" />
      <mass
        value="0.217491095560471" />
      <inertia
        ixx="7.60669072951146E-05"
        ixy="-8.81811078040176E-07"
        ixz="4.45302543417191E-07"
        iyy="8.34199715203136E-05"
        iyz="-3.69700429031697E-06"
        izz="9.64374010013653E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="-0.188 0 0"
      rpy="0 0 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.05"
      upper="3.05"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="0.0101481461404387 -0.000125877119297443 0.0671678390914082"
        rpy="0 0 0" />
      <mass
        value="0.08303199193744" />
      <inertia
        ixx="1.50096279590035E-05"
        ixy="2.92561451856766E-07"
        ixz="-9.48913183095996E-07"
        iyy="2.17699882241345E-05"
        iyz="-1.44829330179455E-08"
        izz="2.37823196658227E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0 0 0.073"
      rpy="1.5708 0 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.05"
      upper="3.05"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="2.21193235042105E-06 -0.000257394096347896 0.0436340137752303"
        rpy="0 0 0" />
      <mass
        value="0.0097090897415853" />
      <inertia
        ixx="7.7660496444075E-07"
        ixy="-3.82265520058759E-22"
        ixz="6.36813681497762E-22"
        iyy="8.05522131640964E-07"
        iyz="-1.13363345395756E-08"
        izz="1.29221867454832E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ROBOARM.STEP.SLDASM/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0 0 0.06825"
      rpy="1.5708 0 1.5708" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.05"
      upper="3.05"
      effort="0"
      velocity="0" />
  </joint>
</robot>